.cart-list {
    width: 50%;
    height: 100vh;
    position: fixed;
    right: -75%;
    top: 0;
    background-color: #fafafa;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.3s;

    @media screen and (max-width: 767px) {
        width: 100%;
        right: -100%;
    }

    .item-list__item {
        width: 100%;
        padding: 2rem;
        padding-left: 10%;
        border-radius: 10rem 12px 12px 10rem;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        position: relative;
        transition: 0.3s;

        &-image {
            width: 20%;
            object-fit: contain;
        }

        .item-info {
            width: 80%;
            padding-left: 5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h4 {
                margin: 0;
            }

            .price-amount-set {
                p {
                    margin-bottom: 0;
                }

                .small-price {
                    font-style: italic;
                    font-size: 0.85rem;
                }
            }
        }
    }

    .item-amount {
        font-weight: bold;
        padding: 0 6px;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    h3 {
        text-align: center;
        margin-left: auto;
    }

    .amount-button {
        font-weight: bold;
        font-size: 1rem;
    }

    .cart-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;

        button {
            margin-left: auto;
        }
    }

    .payment-button {
        width: 100%;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        margin: 24px 0;
        transition: 0.3s;

        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
        }
    }

    .delete-button {
        border-radius: 100px;
        border: none;
        outline: none;
        box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        transition: 0.3s;
        position: absolute;
        bottom: -20%;
        background-color: #fafafa;
        right: 0;

        &:hover {
            cursor: pointer;
            background-color: crimson;
        }
    }
}
