@import '../components/Header/header';
@import '../pages/SingleProduct/singleproduct';
@import '../components/ProductList/productlist';
@import '../pages/Login/login';
@import '../components/Cart/cart';
@import '../components/Categories/categories';

body {
    margin: 0;
    margin-top: 24px;
    padding: 0;
    background-image: url('../assets/abstract-gabdf32901_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;

    @media screen and (max-width: 767px) {
        margin-top: 54px;
    }

    * {
        box-sizing: border-box;
        font-family: 'Ubuntu', sans-serif;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .close-button {
        background-color: transparent;
        border: none;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }

    button {
        &:hover {
            cursor: pointer;
        }
    }
}
